/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    height: 100%;  
    width: 100%;  
    font-size: 20px  !important;  
    outline: 0;  
    -webkit-text-size-adjust:none; 
    font-family: "Source Han Sans",Helvetica,Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",SimSun,Heiti,sans-serif; 
}

@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}
@media only screen and (max-width: 428px){
    .logo{
       height:39px !important;
       width:100px !important;
    }
}
.line{
	height:15px;
}
@media only screen and (min-width: 1000px){
    .line{
        height:0;
	}
}
/* nav */
nav a{
	color:white !important;
}
.logo{
	height:45px;
	width:125px;
	padding-right:15px;
}
#nav_right li a{
	padding-left:4px;
	padding-right:4px;
}
.navbar-collapse{
    padding-right:22px !important;
}

/*denglu*/
.subtitle{
	padding:.6rem 0 1.5rem 0;
}
.mainbody{
	padding-left:22px !important;
}
.inputbody{
	padding-left:0px !important;
}
.dengluOrzhuce{
	margin-bottom:.8rem;
}
.dengluOrzhuce a{
    color:#999;
}
.dengluOrzhuce li.active a{
	color:#a94442 !important;
}
.dengluOrzhuce li a:hover{
	background-color:#fff !important;
	border:0;
	color:#999;
}
.input-text, .btn-dengluzhuce{
	height:40px !important;
}
.onError{
    height:40px !important;
    line-height:40px !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
}



